<div class="page-header">
  <h1>
    Photos

    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>

  </h1>
</div>


<% @photos.each do |photo| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= photo.user.username %></h3>
  </div>
  <div class="panel-body">
    <img src = "<%= photo.image %>" width = 550 pt>
    <h5><%= photo.caption %></h5>
    <h6>Photo ID <%= photo.id %></h6>
    <%= Comment.where({ :photo_id => photo.id}).each do |comment| %>
    <p><% comment.body %></p>
    <% end %>
  </div>
</div>
<% end %>

